form {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
    height: 100vh;           /* Example: centers in the full viewport height */
}

body {
  font-family: sans-serif;
  background: #4491be;
}

#canvas {
  height: 50px;
  width: 50px;
  margin: 50px 100px;
  box-shadow:50px 0 white, 100px 0 black, 150px 0 red, 200px 0 blue  ;

}
